
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    nav{
        background: #f2d600;
        div{
            #navbarNavDropdown{
                justify-content: right;
            }
        }
    }
}